h2 {
	line-height: 50px;
}

h3 {
	margin-bottom: 10px;
}

.alert {
	font-weight: bold;
}

.container .hide {
	display: none;
}

.cdr-table {
	margin-bottom: 0;
}
.cdr-table td{
	font-size: 12px;
}

.form-filter {
	padding-bottom: 0;
}
.form-filter .item {
	float: left;
	margin: 0 8px;
}
.form-filter .btn {
	margin-top: 22px;
}

.form-filter .input-date {
	width: 120px;
	text-align: center;
}

.form-filter .grayed-out {
	color: #ccc;
	background-color: #f2f2f2;
}

.form-filter .filter-tips-wrapper {
	margin-top: 26px;
	margin-left: 0;
	position: relative;
}

.form-filter .filter-tips-wrapper i {
	cursor: pointer;
}

.form-filter .filter-tips {
	position: absolute;
	display: none;
	width: 290px;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 0px 10px gray;
	border-radius: 4px;
}

.ui-datepicker select.ui-datepicker-month { width: 54% !important;}
.ui-datepicker select.ui-datepicker-year { width: 44% !important;}

.pagination {
	float: left;
}

#per-page-container {
	float: right;
	margin: 22px 0;
}

#listen {
	width: 800px;
	margin-left: -400px;
}

#listen .modal-body {
	overflow-x: hidden;
}

#listen .modal-body p {
	position: relative;
	height: 180px;
}

#listen .controls {
	margin-top: 10px;
	text-align: center;
}

#waveform {
	position: relative;
}

#waveform-progress-wrapper {
	padding: 61px 0;
}

#waveform-progress {
	margin: 0;
}

td.buttons {
	white-space: nowrap;
}

td select {
    margin-bottom: 0;
    padding: 0;
    font-size: 12px;
    height: 20px;
}

td form {
    margin-bottom: 0;
}

a.cdr-link {
	color: #333;
}

.spinner {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('../img/ajax-loader.gif');
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -16px;
	margin-left: -16px;
}

footer {
	clear: both;
}

.accordion-inner {
	overflow-x: scroll;
}

#note-textarea {
	resize: vertical;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.export-xlsx {
	background: url('../img/icons8-export-excel-48.png') no-repeat center;
	background-size: contain;
	float: right;
	width: 24px;
	height: 24px;
}